@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    color: theme('colors.white');
    border: none;
    padding: 4px 10px;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 3px;
    background-color:#0052cc;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn:hover {
    background-color:#0065ff;
  }
  .btn:active {
    background-color:#0747a6;
  }
}

html, body, #__next, main {
  height: 100%;
  width: 100%;
}